<div class="container">
  <div class="row mt-5">

    <form *ngIf="orderStatus===OrderStatus.idle" class="offset-0 col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-6">

      <div class="form-group">
        <label for="names">Imię i nazwisko</label>
        <input [(ngModel)]="names" [class.is-valid]="namesValidated" [class.is-invalid]="namesValidated===false" type="text" class="form-control" id="names" name="names" placeholder="np. Jan Kowalski">
        <div class="invalid-feedback" *ngIf="namesValidated===false">Proszę podać poprawne imię i nazwisko.</div>
      </div>

      <div class="form-group">
        <label for="address">Adres</label>
        <input [(ngModel)]="address" [class.is-valid]="addressValidated" [class.is-invalid]="addressValidated===false" type="text" class="form-control" id="address" name="address" placeholder="np. Wrocławska 1, 34-400 Kraków">
        <div class="invalid-feedback" *ngIf="addressValidated===false">Proszę podać poprawny adres</div>
      </div>

      <button (click)="onFinishOrder()" type="submit" class="btn btn-primary btn-block">Dokończ zamówienie</button>

    </form>

    <div *ngIf="orderStatus===OrderStatus.failure" class="mt-5 col-12">
      <div class="card text-white bg-danger" style="margin: auto; width: 20rem;">
        <img class="card-img-top img-responsive" src="assets/img/error.jpg">
        <div class="card-body">
          <p class="card-text"> Nie można złożyć zamówienia. Sprawdź swoje połączenie z internetem!</p>
          <button routerLink="/offer" class="btn btn-light btn-block">Powrót do sklepu</button>
        </div>
      </div>
    </div>

    <div *ngIf="orderStatus===OrderStatus.success" class="mt-5 col-12">
      <div class="card text-white bg-success" style="margin: auto; width: 20rem;">
        <img class="card-img-top p-2 bg-white" src="assets/img/order_success.png">
        <div class="card-body">
          <p class="card-text text-center"> Zamówienie złożone! </p>
          <p class="card-text text-center"> Dziękujemy! </p>
          <button routerLink="/offer" class="btn btn-light btn-block">Powrót do sklepu</button>
        </div>
      </div>
    </div>

  </div>
</div>
